<center>
<div class="box_div_fav_third_number_page">
<head>
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<script src="/js/form.js"></script>
</head>
<body>
<body onload = "checkCookies()">
<p id="cookies"></p>
<h1> Mike's Second Personal Details App </h1>
<form method = "post" action = "fav_third_number_page">
<input type = "hidden" name = "first_name_input_box" value = "<%=first_name_input_box%>">
<input type = "hidden" name = "last_name_input_box" value = "<%=last_name_input_box%>">
<input type = "hidden" name = "favorite_animal" value = "<%=favorite_animal%>">
<input type = "hidden" name = "favorite_color" value = "<%=favorite_color%>">
<input type = "hidden" name = "favorite_first_number" value = "<%=favorite_first_number%>">
<input type = "hidden" name = "favorite_second_number" value = "<%=favorite_second_number%>">
<hr>
<h3> Thanks, <%=first_name_input_box%> <%=last_name_input_box%>! Your favorite second number is <%=favorite_second_number%>. Next, please tell me what your third favorite number is. </h3>
<hr>
<center>
<input type="text" id="third_num" name = "favorite_third_number" placeholder="Third Favorite Number" required onfocus>
<hr>
<br>
<input class = "button" type = "submit" value = "Next" onclick>
</center>
<br>
</form>
</body>
</center>