<center>
<div class="box_div_math_operations_page">
<head>
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<script src="/js/form.js"></script>
</head>
<body>
<body onload = "checkCookies()">
<p id="cookies"></p>
<h1> Mike's Second Personal Details App </h1>
<form method = "post" action = "math_operations_page">
<input type = "hidden" name = "first_name_input_box" value = "<%=first_name_input_box%>">
<input type = "hidden" name = "last_name_input_box" value = "<%=last_name_input_box%>">
<input type = "hidden" name = "favorite_animal" value = "<%=favorite_animal%>">
<input type = "hidden" name = "favorite_color" value = "<%=favorite_color%>">
<input type = "hidden" name = "favorite_first_number" value = "<%=favorite_first_number%>">
<input type = "hidden" name = "favorite_second_number" value = "<%=favorite_second_number%>">
<input type = "hidden" name = "favorite_third_number" value = "<%=favorite_third_number%>">
<hr>
<h3> Thanks, <%=first_name_input_box%> <%=last_name_input_box%>! Your favorite third number is <%=favorite_third_number%>. Lastly, please tell me which math operation you would like to perform on your three favorite numbers. </h3>
<hr>
<center>
<input type = "radio" name = "math_operation" value = "+" id = "Add" required>
<label for = "Add">Add</label>
<br><br>
<input type = "radio" name = "math_operation" value = "-" id = "Subtract" required>
<label for = "Subtract">Subtract</label>
<br><br>
<input type = "radio" name = "math_operation" value = "*" id = "Multiply" required>
<label for = "Multiply">Multiply</label>
<br><br>
<input type= "radio" name = "math_operation" value = "/" id = "Divide" required>
<label for = "Divide">Divide</label>
<hr>
<br>
<input class = "button" type = "submit" value = "Calculate" onclick>
</center>
<br>
</form>
</body>
</center>